<!doctype html>
<html ng-app>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/jquery-ui-1.10.3.custom.css">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<section id="wrap" class="container ">
	<section id="header" class="col-lg-12">
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">    
			<div class="navbar-header">       
				<a class="navbar-brand active" href="#"><h1 style="margin-top:-10px;padding:0;">Vanakkam Chennai</h1></a>    
			</div>    
			<div>       
				<ul class="nav navbar-nav">          
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>          
					<li><a href="places.html">Places</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">News</a></li>          
					<li class="dropdown">             
						<a href="#"class="dropdown-toggle" data-toggle="dropdown">Java<b class="caret"></b></a>
						<ul class="dropdown-menu">                
							<li><a href="#">jmeter</a></li>                
							<li><a href="#">EJB</a></li>                
							<li><a href="#">Jasper Report</a></li>                
							<li class="divider"></li>                
							<li><a href="#">Separated link</a></li>                
							<li class="divider"></li>                
							<li><a href="#">One more separated link</a></li>             
						</ul>          
					</li> 
				</ul>    
			</div> 
			<!--<div class="btn-group pull-right" style="padding:8px;">
				<button class="btn btn-primary">facebook</button>
				<button class="btn btn-info">twiter</button>
				<button class="btn btn-danger">google+</button>
				<button class="btn btn-success">Whatsapp</button>
			</div> -->
		</nav> 
	</section>
	<section class="jumbotron  col-lg-12">
		<div class="exp col-lg-6">
		<h1>Vanakkam Chennai</h1>
		<p>This is the site you are expecting</p>
		<button class="btn btn-primary">Read more</button>
		</div>
		<aside id="jm-img" class="col-lg-6"></aside>
	</section>
	<section id="main" class="col-lg-12">
		<section id="content" class="col-lg-9">
				<div class="row col-lg-12">
					<div id="about" class="col-lg-12">
						<h2>About</h2>
						<p class="col-lg-6">Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.

						Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.

						This is a W3C compliant free website template from OS Templates. This template is distributed using a Website Template Licence.

						</p>
						<div id="pic" class="col-lg-6" style="padding:5px;box-shadow:0 0 6px rgba(0,0,0,0.18);border:1px solid #ddd;border-radius:4px;">
						<img src="cs.jpg" width="100%" height="200px;">
					</div>
					<div class="divider col-lg-12"></div>	
					</div>
					
				</div>
				
				<section class="row col-lg-12" id="blog">
					<section class="col-lg-6" >
						<article class="col-lg-6">
							<div id="picture" class="col-lg-12"></div>
						</article>
						<aside id="small" class="col-lg-6">
							<p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>	
							<button class="btn btn-primary col-lg-12 modal1" data-toggle="modal" data-target="#modal1">Read more</button>
						
		<div class="modal fade col-lg-12" id="modal1" tabindex="-1" role="dialog" area-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header col-lg-12">
						<h3 class="col-lg-11">Title - News 1</h3>
						<!--<button type="button" class="btn btn-danger col-lg-1" data-dismiss="modal" area-hidden="true">&times</button>-->
						
					</div>
					<div class="modal-body">
						<p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.

						Dapiensociis temper donec auctortortis cumsan et curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at in velis tincidunt pellentum tincidunt vel lorem.

						This is a W3C compliant free website template from OS Templates. This template is distributed using a Website Template Licence.

						</p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>

						</aside>

					</section>
					<section class="col-lg-6" >
						<article class="col-lg-6">
							<div id="picture" class="col-lg-12"></div>
						</article>
						<aside id="small" class="col-lg-6">
							<p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>	
							<button class="btn btn-primary col-lg-12">Read more</button>
							
						</aside>
					</section>
				</section>
				<section class="row col-lg-12" id="blog">
					<section class="col-lg-6" >
						<article class="col-lg-6">
							<div id="picture" class=" col-lg-12"></div>
						</article>
						<aside id="small" class="col-lg-6">
							<p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>	
							<button class="btn btn-primary col-lg-12">Read more</button>
							
						</aside>
					</section>
					<section class="col-lg-6" >
						<article class="col-lg-6">
							<div id="picture" class="col-lg-12"></div>
						</article>
						<aside id="small" class="col-lg-6">
							<p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>	
							<button class="btn btn-primary col-lg-12">Read more</button>
							
						</aside>
					</section>
				</section>
				<section class="col-lg-12">
					<h2>News</h2>
					<section class="col-lg-6">
						<article class="col-lg-12" style="height:250px;border:1px solid #ddd;border-radius:4px;margin:8px 0 10px 0;padding:5px;overflow:hidden;box-shadow:0 0 6px rgba(0,0,0,0.18)">
							<img src="images/wheel.jpg" width="100%" height="100%">
						</article>
						<article class="col-lg-12">
							<p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur. Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>	
						</article>
					</section>
					<section class="col-lg-6">
						<section class="col-lg-12">
							<article class="col-lg-4"style="height:100px;border:1px solid #ddd;border-radius:4px;margin:8px 0 10px 0;" ></article>
							<article class="col-lg-8"style="padding-right:0;">
								<p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>	
							</article>
						</section>
						<section class="col-lg-12">
							<article class="col-lg-4"style="height:100px;border:1px solid #ddd;border-radius:4px;margin:8px 0 10px 0;" ></article>
							<article class="col-lg-8"style="padding-right:0;">
								<p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>	
							</article>
						</section>
						<section class="col-lg-12">
							<article class="col-lg-4"style="height:100px;border:1px solid #ddd;border-radius:4px;margin:8px 0 10px 0;" ></article>
							<article class="col-lg-8" style="padding-right:0;">
								<p>Aliquatjusto quisque nam consequat doloreet vest orna partur scetur portortis nam. Metadipiscing eget facilis elit sagittis felisi eger id justo maurisus convallicitur.</p>	
							</article>
						</section>


					</section>
				</section>
			</section>
			<aside id="right" class="col-lg-3">
				
				<div id="accordion" class="col-lg-12">
					<h3>link 1</h3>
					<div>
						<p>This is a W3C compliant free website template from OS Templates. This template is distributed using a Website Template Licence</p>
					</div>
					<h3>link 2</h3>
					<div>
						<p>This is a W3C compliant free website template from OS Templates. This template is distributed using a Website Template Licence</p>
					</div>
					<h3>link 3</h3>
					<div>
						<p>This is a W3C compliant free website template from OS Templates. This template is distributed using a Website Template Licence</p>
					</div>
					<h3>link 4</h3>
					<div>
						<p>This is a W3C compliant free website template from OS Templates. This template is distributed using a Website Template Licence</p>
					</div>
					<h3>link 5</h3>
					<div>
						<p>This is a W3C compliant free website template from OS Templates. This template is distributed using a Website Template Licence</p>
					</div>
				</div>
				<div class="col-lg-12" id="form" style="padding:0;">
					<div class="form-group col-lg-12"  style="padding:0;">
					<form method="post" >
						<input class="form-control" type="name" name="yourname" placeholder="Name" ng-model="name"></input></br>
						<input class="form-control" type="name" name="yourmail" placeholder="E-mail" ng-model="mail"></input></br>
						<textarea class="form-control" type="name" name="yourcommmet" placeholder="Comment" ng-model="comment" rows="8"></textarea></br>
					</form>
					</div>
				</div>
				
			</aside>
	</section>
	<footer class="col-lg-12" id="footer">  
		
	</footer>
</section>
</body>
<script type="text/javascript" src="bootstrap/jquery/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bootstrap/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="bootstrap/jquery/jquery-ui-1.10.3.custom.js"></script>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="index.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$('#accordion').accordion();
});
$(document).ready(function(){
	$('#modal1').model('toggle');
});
</script>
</html>